<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<ul >
    {% if request.session.is_login %}
        <li><a href="#">当前在线：{{ request.session.user_name }}</a></li>
        <li><a href="/logout/">登出</a></li>
    {% else %}
        <li><a href="/login/">登录</a></li>
        <li><a href="/register/">注册</a></li>
    {% endif %}
</ul>

<h1 >欢迎登录</h1>
 <form  action="/login/" method="post">
     {{ message }}
     {% csrf_token %}
     {{ login_form }}
     <button type="reset" >重置</button>
     <button type="submit" >提交</button>
 </form>
</body>
</html>